.movies {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    
    
    
}

.movie {
    background-color: rgb(243, 221, 243);
    border: 1px dotted darkmagenta;
    padding: 1rem;
    margin: 5px;
    height: auto;
    flex-basis: 17%;
}

.page {
    width: 110px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.page-buttons {
    display: flex;
    grid-gap: 24px;
    max-width: 300px;
}

.movie_add {
    margin-left: auto;
    background-color: lightcoral;
}