.movies {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    
    
    
}

.movie {
    background-color: rgb(243, 221, 243);
    border: 1px dotted darkmagenta;
    padding: 1rem;
    margin: 5px;
    height: auto;
    flex-basis: 17%;
    

    
    
}

.movie_add {
    margin-left: auto;
    background-color: lightcoral;
}